{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
{% include './navbar.html.twig' %}

<div class="p-6 bg-white border-b border-gray-200">
    <h3 class="text-lg font-semibold mb-2">What is Bouldering?</h3>
    <p>Bouldering is a form of climbing performed mostly indoors without ropes or harnesses on artificial walls, can also be done outside on small rock faces</p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/JtzthnwhDPI" frameborder="0" allowfullscreen></iframe>

<div class="p-6 bg-white border-b border-gray-200">
    <h3 class="text-lg font-semibold mb-2">How to Boulder Safely?</h3>
    <p>As there are no ropes, extra precaution certainly has to be taken, so knowing how and when to climb is extremely important</p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/9zbxIg4fqpc" frameborder="0" allowfullscreen></iframe>
{% endblock %}
