{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ asset('build/tailwind.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Application</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body style="background-image: url('{{ asset('images/background.jpg') }}'); background-size: cover;"
{% include './navbar.html.twig' %}

    <h1 style="color: red;">Apex Climbing Co</h1>
    <ul>
        <!-- Add more links/buttons for other features -->
    </ul>

</body>
</html>
