<!DOCTYPE html>
<html lang="en">
<script src="my.js"></script>
<body style="background-image: url('{{ asset('images/background.jpg') }}'); background-size: cover;">
{% include './navbar.html.twig' %}

</body>
</html>