<!DOCTYPE html>
<html lang="en">
<script src="my.js"></script>
 <link rel="stylesheet" href="styles2.css">
<body style="background-image: url('{{ asset('images/background.jpg') }}'); background-size: cover;">
{% include './navbar.html.twig' %}
<div class="img-magnifier-container">
  <img id="jug" src="\images\jug.jpg.webp" width="400" height="200" alt="Jug">
  <div class="image-description">
  <h1 style="color: red">Jug</h1>
  </div>
</div>
<div class="img-magnifier-container">
  <img id="krimp" src="\images\krimp.png" width="400" height="200" alt="Krimp">
    <div class="image-description">
  <h1 style="color: red">Krimp</h1>
  </div>
</div>
<div class="img-magnifier-container">
  <img id="sloper" src="\images\sloper.jpg" width="400" height="200" alt="Sloper">
    <div class="image-description">
  <h1 style="color: red">Sloper</h1>
  </div>
</div>
<div class="img-magnifier-container">
  <img id="pinch" src="\images\pinch.jpg" width="400" height="200" alt="Pinch">
    <div class="image-description">
  <h1 style="color: red">Pinch</h1>
  </div>
</div>
<script>
    magnify("jug", 3);
    magnify("krimp", 3);
    magnify("sloper", 3);
    magnify("pinch", 3);
</script>
</body>
</html>