<!DOCTYPE html>
<html lang="en">
<script src="my.js"></script>
 <link rel="stylesheet" href="styles2.css">
<body style="background-image: url('{{ asset('images/background.jpg') }}'); background-size: cover;">
{% include './navbar.html.twig' %}
<div class="img-magnifier-container">
  <img id="jug" src="\images\jug.jpg.webp" width="400" height="200" alt="Jug">
  <div class="image-description" style="padding: 1.5rem; background-color: white; border-bottom: 1px solid white;">
  <h1  style="text-lg font-semibold mb-2">Jug</h1>
  <p>A jug is the best hold on the wall, there is a lot of space for your hand to get a firm grip to be able to pull yourself up</p>
  </div>
</div>
<div class="img-magnifier-container">
  <img id="krimp" src="\images\krimp.png" width="400" height="200" alt="Krimp">
    <div class="image-description"style="padding: 1.5rem; background-color: white; border-bottom: 1px solid white;">
  <h1  style="text-lg font-semibold mb-2">Krimp</h1>
  </div>
</div>
<div class="img-magnifier-container">
  <img id="sloper" src="\images\sloper.jpg" width="400" height="200" alt="Sloper">
    <div class="image-description" style="padding: 1.5rem; background-color: white; border-bottom: 1px solid white;">
  <h1 style="text-lg font-semibold mb-2">Sloper</h1>
  </div>
</div>
<div class="img-magnifier-container">
  <img id="pinch" src="\images\pinch.jpg" width="400" height="200" alt="Pinch">
    <div class="image-description" style="padding: 1.5rem; background-color: white; border-bottom: 1px solid white;">
  <h1  style="text-lg font-semibold mb-2">Pinch</h1>
  </div>
</div>
<script>
    magnify("jug", 3);
    magnify("krimp", 3);
    magnify("sloper", 3);
    magnify("pinch", 3);
</script>
</body>
</html>