{# templates/login/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
{% include './navbar.html.twig' %}
    <h1>Login</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit">Login</button>
    </form>
{% endblock %}
