{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% include './navbar.html.twig' %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {# Add more form fields here #}
    <button type="submit">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
