<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
{% include './navbar.html.twig' %}

<h1>Products</h1>

{% for product in products %}
    <div style="background-color: blue; color: red; border: 5px solid black; border-radius: 0.375rem;" class="text-black">              
        <div class="name">{{ product.name }}</div>
        <div class="brand">{{ product.brand }}</div>
        <div class="price">{{ product.price }}</div>
         <a href="{{ path('product_edit', {'id': product.id}) }}" style="background-color: green; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">Edit</a> 
    </div>
{% endfor %}

</body>
</html>
