 <link href="{{ asset('build/tailwind.css') }}" rel="stylesheet">
<nav class="bg-gray-800 shadow z-10 h-16">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <img src="{{ asset('images/apexclimbingco.jpg') }}" alt="Logo" class="h-8">
            </div>
            <!-- Navigation links -->
            <div class="hidden md:block">
                <div class="flex items-center space-x-4">
                   
                    <a href="{{ path('product_new') }}" class="text-white hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Add Products</a>                   
                    <a href="{{ path('home') }}" class="text-white hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Home</a>
        
                </div>
            </div>
            <!-- Mobile menu button (hidden on larger screens) -->
            <div class="md:hidden">
                <button class="text-white focus:outline-none">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>
